@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%; /* #fdfdfd */
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 258 100% 60%; /* #7033ff */
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96%; /* #f5f8fb slightly adjusted */
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96%;
    --accent-foreground: 222.2 84% 4.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 258 100% 60%;

    --radius: 1.4rem;

    --chart-1: 258 100% 60%;
    --chart-2: 280 80% 60%;
    --chart-3: 310 80% 60%;
    --chart-4: 340 80% 60%;
    --chart-5: 10 80% 60%;
  }

  .dark {
    --background: 225 7% 11%; /* #1a1b1e */
    --foreground: 210 40% 98%;

    --card: 228 7% 14%; /* #222327 */
    --card-foreground: 210 40% 98%;

    --popover: 228 7% 14%;
    --popover-foreground: 210 40% 98%;

    --primary: 258 100% 68%; /* #8c5cff */
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 223 6% 21%; /* #33353a */
    --input: 223 6% 21%;
    --ring: 258 100% 68%;

    --chart-1: 258 100% 68%;
    --chart-2: 280 80% 68%;
    --chart-3: 310 80% 68%;
    --chart-4: 340 80% 68%;
    --chart-5: 10 80% 68%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans tracking-tight antialiased;
  }
}

@layer utilities {
  .premium-card {
    @apply bg-card text-card-foreground rounded-lg border shadow-premium transition-transform hover:scale-[1.02] duration-300;
  }
}
